*{
    margin: 0;
    padding: 0;
    color: #bcbccc;
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
}

/*
$desktop:1280px;//col-xl
$laptop:1000px;//col-lg
$tablet:768px;//md
$phone:480px;//sm
*/  

@font-face {
    font-family: 'Source Code Pro', monospace;
    src: url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap);
}
#header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top left, #00000095, #3540b690),url(img/background.png);
    background-size: cover;
    background-position: center;
}
.container{
    height: 80%;
    padding: 10px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo{
    position: relative;
    z-index: 2000;
    width: 100px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 30px;
}

.header-text{
    color: #bcbccc;
    position: fixed;
    font-size: 30px;
    margin-top: 0px;
}
.header-text h1{
    color: #bcbccc;
    position: relative;
    font-size: 80px;
    margin-top: 10px;
}

/* sidebar */

body{
    font-family: 'Source Code Pro', monospace;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}
.openicon{
    font-size: 30px;
    cursor: pointer;
    position: flex;
}
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background: linear-gradient(to bottom right, #55385a, #3540b690);
}   
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: #bcbccc;
    transition: 0.3s;
}
.sidenav a:hover{
    color: #55385a;
}
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px;
    margin-left: 50px;
}
@media screen and (max-height: 450px){
    .sidenav{padding-top: 15px;}
    .sidenav a{font-size: 18px;}
}