*{
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'MODERNA';
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*
$desktop:1280px;//col-xl
$laptop:1000px;//col-lg
$tablet:768px;//md
$phone:480px;//sm
*/  

@font-face {
    font-family: 'MODERNA';
    src: url(fonts/SpaceMono-Bold.ttf);
}

#header{
    width: 100%;
    height: 980px;
    background-image: linear-gradient(to top left, #5a38a870, #bd274c95),url(img/background.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    height: 100%;
    padding: 10px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo{
    position: fixed;
    width: 100px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 30px;
}

.header-text{
    color: #ffffff;
    font-size: 30px;
    margin-top: 0px;
}

/* sidebar */

body{
    font-family: 'Source Code Pro', monospace;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

.openicon{
    font-size: 50px;
    cursor: pointer;
    position: fixed;
    z-index: 2;
    right: 100px;
    top: 40px;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 120px;
    background: linear-gradient(to bottom right, #404eed95, #5865f290);
}   

.sidenav a{
    padding: 40px 4px 8px 40px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: #ffffff;
    transition: 0.1s;
}

.sidenav a:hover{
    color: #000000;
}

.sidenav .closebtn{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 100px;
    font-size: 50px;
}

@media screen and (max-height: 450px){
    .sidenav{padding-top: 15px;}
    .sidenav a{font-size: 18px;}
}

body::-webkit-scrollbar{
    display: none;
}

/* About page */

#about{
    height: 980px;
    padding: 0px 0 ;
    color: #55385a;
    background-image: linear-gradient(to bottom,#1527eb95, #3943b470),url(img/background1.jpg);
    background-size: cover;
    background-position: center;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    margin-top: 150px;
    max-width: 100%;
    max-height: 65%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
    margin-top: 150px;
}

.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
}

.content{
    margin-top: 30px;
    margin-right: 130px;
    font-size: 20px;
}

/* Skills page */

#skills{
    height: 980px;
    padding: 50px 0;
    background-image: linear-gradient(to top left, #2e8b5270, #28d46195),url(img/background3.jpg);
    background-size: cover;
    background-position: center;
}

.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));    
    grid-gap: 60px;
    margin-top: 50px;
}

.skills-list div{
    height: 450px;
    margin-bottom: 200px;
    margin-right: 100px;
    background: #1d6f42;
    padding: 40px 30px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.skills-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.skills-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.skills-list div a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    margin-top: 90px;
    display: inline-block;
}

.skills-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.skills-list div:hover{
    background: #73d074;
    transform: translateY(-10px);
}

/* Projects page */

#projects{
    height: 980px;
    padding: 50px 0;
    background-image: linear-gradient(to top left, #dbe64970, #df7a1c95),url(img/background5.jpg);
    background-size: cover;
    background-position: center;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));    
    grid-gap: 40px;
    margin-top: 50px;
}

.projects{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.projects img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(237 ,170 , 40, 0.7));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.projects:hover img{
    transform: scale(1.1);
}

.projects:hover .layer{
    height: 100%;
}

/* Contact page */

#contact{
    height: 980px;
    padding: 50px 0;
    background-image: linear-gradient(to top left,#43a7c095, #2d3f7070),url(img/background6.png);
    background-size: cover;
    background-position: center;
}

.contact-list{
    font-size: 25px;
    flex-basis: 35%;
}

.contact-list p{
    margin-top: 30px;
}

.contact-list p i{
    color: #8daec7;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    transform: translateY(-3px);
}