*{
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*
$desktop:1280px;//col-xl
$laptop:1000px;//col-lg
$tablet:768px;//md
$phone:480px;//sm
*/  

@font-face {
    font-family: 'Source Code Pro', monospace;
    src: url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap);
}
#header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top left, #5865f270, #404eed95),url(img/background.png);
    background-size: cover;
    background-position: center;
}

.container{
    height: 80%;
    padding: 10px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo{
    position: relative;;
    width: 100px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 30px;
}

.header-text{
    color: #ffffff;
    font-size: 30px;
    margin-top: 0px;
}
.header-text h1{
    color: #ffffff; 
    font-size: 80px;
    margin-top: 10px;
}

/* sidebar */

body{
    font-family: 'Source Code Pro', monospace;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}
.openicon{
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    z-index: 2;
    right: 80px;
    top: 40px;
}
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 120px;
    background: linear-gradient(to bottom right, #404eed95, #5865f290);
}   
.sidenav a{
    padding: 40px 4px 8px 40px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: #ffffff;
    transition: 0.3s;
}
.sidenav a:hover{
    color: #55385a;
}
.sidenav .closebtn{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 80px;
    font-size: 30px;
}
@media screen and (max-height: 450px){
    .sidenav{padding-top: 15px;}
    .sidenav a{font-size: 18px;}
}

/* ScrollSpy */

section{
    z-index: 3;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7em;
    color: #ccc;
    font-weight: bolder;
    padding-bottom: 70px;
}
